
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
    --mainColor: #ffc800;
    --secondCalar:white;
    --thirdColor:#6c757d ;
    }
 
    .container{
    width: 85%;
    margin: auto;
    }
     /*Fonts*/
    @font-face{
        src: url("../Roboto/Roboto-MediumItalic.ttf");
        font-family: Hadeel;
    }

    @font-face{
        src: url("../Roboto/Roboto-Regular.ttf");
        font-family: Roboto-Thin;
    }
    /*start header section*/
    .navbar{
    position: fixed;
    width: 100%;
    cursor: pointer;
    margin-top: 35px ;
    }
    .navbar .container{
    overflow: auto;
    } 
    .logo{
    float: left;
    color: var(--mainColor);
    width: 30%;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    }
    .nav{
    float: left;
    width: 70%;
    text-align: right;
    }
     /*Media Query*/
    @media (max-width:575.98px)  { 
        .logo ,.nav{
            width: 100%;
            text-align: center;
        }

        .logo{
            margin-bottom: 15px;
        }
     }
     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .logo ,.nav{
            width: 100%;
            text-align: center;
        }

        .logo{
            margin-bottom: 15px;
        }
      }

      @media  (min-width:767.98px)and (max-width: 991.98px) { 
        .logo ,.nav{
            width: 100%;
            text-align: center;
        }

        .logo{
            margin-bottom: 40px;
        }
      }
    
    .nav .list{
    list-style: none;
    }
    .list-item{
    display: inline-block;
    }
    .link-nav{
    color: var(--secondCalar);
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
    }

    .header-contant{
      height: 100vh;
      background-image: url("../img/covor/covor.jpg");
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: 0 -130px;   
    }
   
    .header-content-items{
        padding-top: 153px;
        color: var(--secondCalar); 
    }
  
   
    .header-content-title{
        text-transform: capitalize;
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-style: italic;
        margin-top: 49px;

    }
     /*Media Query*/
    @media (max-width: 575.98px) { 
        .header-content-title {
            font-size: 30px;
             margin-top: -10px;
              width: 100%;
              text-align: center;
            }
     }
     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .header-content-title {
            font-size: 30px;
            margin-top: -20px;
             width: 100%;
             text-align: center;
            }
      }

      @media  (min-width:767.98px)and (max-width: 991.98px) { 
        .header-content-title {
            font-size: 40px;
             margin-top: -20px;
              width: 100%;
              text-align: center;
            }
      }

      @media  (min-width:991.98px)and (max-width: 1199.98px) { 
        .header-content-title {
            font-size: 50px;
             margin-top: -50px;
              width: 100%;
              text-align: center;
            }
      }
     .header-content-maintitle{
        font-size: 72px;
        width: 100%;
        margin-left: -13px;
        display: inline-block;
        text-transform: uppercase;
        margin-top: 70px;
        font-style: normal;
        text-align: center;
    }
    
     /*Media Query*/
    @media (max-width: 575.98px) { 
        .header-content-maintitle {
            font-size:22px;
            padding: 30px;
             width: 100%;
              margin: auto;
            }
     }
     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .header-content-maintitle {
            font-size: 30px;    
            padding: 40px;
              width: 100%;
              margin: auto;
            }
      }
      @media  (min-width:767.98px)and (max-width: 991.98px) { 
        .header-content-maintitle {
            font-size: 50px;
            padding: 30px;
              width: 100%;
              margin: auto;
            }
      }
      @media  (min-width:991.98px)and (max-width: 1199.98px) { 
        .header-content-maintitle {
            font-size: 60px;
            padding: 30px;
              width: 100%;
              margin: auto;
            }
      } 
    .header-contant .link{
        background-color: var(--mainColor);
        width: 20%;
        display: block;
        margin: auto;
        text-align: center;
        padding: 20px 40px;
        font-size: 18px;
        margin-top:60px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
    }
     /*Media Query*/
    @media (max-width: 575.98px) { 
        .header-contant .link{
          font-size: 10px;
          width: 30%;
          margin: auto;
          margin-top: 30px;
          padding: 10px ;
            }
     }
     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .header-contant .link{
            font-size: 15px;
            width: 33%;
            margin: auto;
            margin-top: 40px;
            padding: 20px ;
              }
      }
      @media  (min-width:767.98px)and (max-width: 991.98px) { 
        .header-contant .link{
            font-size: 20px;
            width:30%;
            margin: auto;
            margin-top: 30px;
            padding: 20px ;
              }
      }
      @media  (min-width:991.98px)and (max-width: 1199.98px) { 
        .header-contant .link{
            font-size: 20px;
            width:25%;
            margin: auto;
            margin-top: 30px;
            padding: 20px ;
              }
      }
      
    /*end header section*/
    /*start services section*/
    .services ,.about {
        text-align: center;
        padding: 96px 0;

    }
   
    .heading {
      text-transform: uppercase;
      font-size: 40px;
    }
    .para  {
    font-size: 16px;
    color: var(--thirdColor);
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 60px;
    }
    .services-items{
        overflow: auto;
        
    }
    .services-item{
     float: left;
     width:33.33%;
    }
     /*Media Query*/
    @media (max-width: 575.98px) {
        .services {
        margin-top: -100px;     
   } 
        .services-item{
           margin-bottom: 80px;
            width: 100%;
            }
     }

     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .services {
            margin-top: -100px;     
       } 
            .services-item{
               margin-bottom: 80px;
                width: 100%;
                }
      }
   
    .services-item .fas{
        color: white;
        font-size: 70px;
        padding-bottom: 10px;
        background-color: var(--mainColor);
        padding: 38px 31px;
        border-radius: 100px;
        width: 150px;
        margin-bottom: 25px;
        }
    .services-item-title{ 
        text-transform: capitalize;
        font-size: 24px;

    }
    .services-item-para{
        font-size: 16px;
        color: var(--thirdColor);
        width: 82%;
        margin: auto;
    }

    /*end services section*/

    /*start partfolio section*/
    .partfolio ,.team{
        text-align: center;
        background-color: #f8f9fa;
        padding: 96px 0;
    }
    .partfolio-items{
        overflow: hidden;   
    }
    .partfolio-item{
        float: left;
        width: 33.33%;
        position: relative;

    }
 /*Media Query*/
    @media (max-width: 575.98px) { 
        .partfolio-item{
        width: 100%;
            }
     }

     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .partfolio-item{
            width: 50%;
                }
      }
    .partfolio-img{
        display: block;
        width: 95%;
    }
    .partfolio .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--mainColor);
        opacity: 0;
    }  
    .partfolio-item-caption{
        width: 95%;
        background-color: var(--secondCalar);
        text-align: center;
        padding: 25px;
        margin-bottom: 25px;
    }

    .partfolio-item-title{
        font-size: 24px;
        text-transform: capitalize;
    }
    .partfolio-item-para{
        color: var(--thirdColor);
        font-style: italic;
        text-transform: capitalize;
        font-size: 16px;

    }

    .overlay-content{
        text-align: center;
        color: var(--secondCalar);      
        padding-top: 100px;
        font-size: 100px;
        font-weight: bold;
    } 
    
    .partfolio-item:hover .overlay{
        opacity: .7;
        width: 95%;
        height: 71.7%;
    }
    /*end partfolio section*/
     /*start about section*/
    
     .about-items{
         position: relative;
     }
      /*Media Query*/
     @media (max-width: 575.98px) { 
        .about-items{
         display: none;
            }
     }
    
     .about-item-captionR ,.about-item-captionRR{
        font-size: 24px;
         text-align: right;
         width: 42%;
         position: absolute;
         top: 0;
         left: 0;
         margin: 40px -5px;
     }
    
     .about-item-img .image{
        border-radius: 100px;
        border: 5px  rgb(233, 236, 239) solid;
        width: 150px;
        margin: 46px;
     }

   
     .about-item .title ,.subtitle {
        text-transform: capitalize;
        font-family: Roboto-Thin;


     } 
        .about-item-captionR .paragraph,.about-item-captionRR .paragraph{
            width: 59%;
            font-size: 17px;
            margin: 0 262px;
            color: var(--thirdColor);
            line-height: 22px;
            padding-top: 14px;
        }

        
         /*Media Query*/
        @media  (min-width:575.98px)and (max-width: 767.98px) { 
           
            .about-item-captionR ,.about-item-captionRR{
                font-size:15px;
                padding: 0 20px;
            }
            
            .about-item-captionR .paragraph,.about-item-captionRR .paragraph{
                font-size: 13PX;
                 width: 90%;
                 margin: auto;
                 line-height: 19px;
                }
          }
          @media  (min-width:767.98px)and (max-width: 991.98px) { 
            .about-item-captionR ,.about-item-captionRR{
                font-size: 18px;
                padding: 0 20px;
            } 
        
         
          .about-item-captionR .paragraph,.about-item-captionRR .paragraph{
          font-size: 15PX;
           width: 100%;
           margin: auto;
           line-height: 19px;
          }
    
        }
        
        @media  (min-width:991.98px)and (max-width: 1199.98px) { 
            .about-item-captionR ,.about-item-captionRR{
                font-size: 18px;
            } 
        
         
          .about-item-captionR .paragraph,.about-item-captionRR .paragraph{
          font-size: 15PX;
           margin: auto;
           line-height: 19px;
           width: 95%;
          }
          }
          @media  (min-width:1199.98px)and (max-width: 1350.98px) { 
            .about-item-captionR ,.about-item-captionRR{
                font-size: 18px;
            } 
        
         
          .about-item-captionR .paragraph,.about-item-captionRR .paragraph{
          font-size: 15PX;
           margin: auto;
           line-height: 19px;
           width: 95%;
          }
          }
        .about-item-captionL, .about-item-captionLL{
            font-size: 24px;
            text-align: left;
            width: 36%;
            position: absolute;
            top: 0;
            right: 0;
            margin: 293px 77px;
         }
        
        .about-item-captionL .paragraph, .about-item-captionLL .paragraph{
            padding-top: 15px;
            color: var(--thirdColor);
            font-size: 16px;
            line-height: 22px;
            width: 73%;
        }
         /*Media Query*/
        @media  (min-width:575.98px)and (max-width: 767.98px) { 
            .about-item-captionL, .about-item-captionLL{
                font-size: 15px;
                padding-left:60px;
            }
          
          .about-item-captionL .paragraph, .about-item-captionLL .paragraph{
           font-size: 13PX;
           width: 130%;
           margin: auto ;
           line-height: 19px;
           padding: 0 18px;
          }
           
          }
    
          
          @media  (min-width:767.98px)and (max-width: 991.98px) { 

            .about-item-captionL, .about-item-captionLL{
                font-size: 18px;
                padding-left: 50px;
            }
          
          .about-item-captionL .paragraph, .about-item-captionLL .paragraph{
           font-size: 15PX;
           width: 120%;
           margin: auto ;
           line-height: 19px;
          }
    
        }
        @media  (min-width:991.98px)and (max-width: 1199.98px) { 
            .about-item-captionL, .about-item-captionLL{
                font-size: 18px;
                padding-left: 40px;
            }
          
          .about-item-captionL .paragraph, .about-item-captionLL .paragraph{
           font-size: 15PX;
           width: 100%;
           margin: auto ;
           line-height: 19px;
          }
          }
        .about-item-captionRR{
            margin: 533px -5px;
        }
        .about-item-captionLL{
            margin: 783px 77px;
        }
      
        
      /*end about section*/
      /*start team section*/
      
      .team-items{
          overflow: auto;
          width: 85%;
          margin: auto;
      }
      .team-item{
          float: left;
          width: 33.33%;
      }
       /*Media Query*/
      @media (max-width: 575.98px) { 
        .team-item{
         width: 100%;
            }
     }
     @media  (min-width:575.98px)and (max-width: 767.98px) { 
        .team-item{
            width: 100%;
               }
      }
      @media  (min-width:767.98px)and (max-width: 991.98px) { 
        .team-item{
            width: 100%;
               }
      }
      .team-img .image{
        border-radius: 100px;
        border: 10px  rgb(233, 236, 239) solid;
        width: 200px;
        margin: 20px;
      }
       .name{
          font-size: 24px;
          text-transform: capitalize;
          font-family: Hadeel;
      }
       .position{
          color: var(--thirdColor);
          font-size: 16px;
          text-transform: capitalize;
          margin: 15px;
          font-family: Hadeel;

      }
      .team-item .fab{
        font-size: 35px;
        padding: 8px;
        padding-bottom: 40px;
      }
      .team-mainpara{
        color: var(--thirdColor);
        font-size: 16px;
        width: 46%;
        margin: auto;
        line-height: 25px;  
        word-spacing: 5px;
        }
      /*end team section*/

       /*start contact us section*/
       .contactus .heading{
           color: var(--secondCalar);
         
       }
       .contactus{
        text-align: center;
        padding: 96px 0;
        background-image: url("../img/contactUs/contact.jpeg");
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: 0 -100px;  
       }
        
        .contactus .input{
            width: 40%;
            height: 40px;
            display: block;
            font-size: 20px;
            margin: auto;
            margin-bottom: 10px;
        
            }
            .contactus .message{
                height: 150px;
            }

        .contactus .submit{
            width: 170px;
            background-color: var(--mainColor);
            height: 60px;
            color: var(--secondCalar);
            font-size: 16px;
            text-transform: uppercase;
            margin: 20px;
            font-weight: bold;
        }
         /*Media Query*/
        @media (max-width: 575.98px) { 
            .contactus{
            background-color: black;
            background-image: none;
            }
            .contactus .input{
                width: 55%;
                margin: auto;
                margin-bottom: 10px;
            }
            .contactus .message{
                height: 100px;
            }
        }
        
        @media  (min-width:575.98px)and (max-width: 767.98px) { 
            .contactus{
                background-color: black;
                background-image: none;
                }
                .contactus .input{
                    width: 50%;
                    margin: auto;
                    margin-bottom: 10px;
                }
                .contactus .message{
                    height: 100px;
                }
        }
        @media  (min-width:767.98px)and (max-width: 991.98px) { 
            .contactus{
                background-color: black;
                background-image: none;
                }
                .contactus .input{
                    width: 50%;
                    margin: auto;
                    margin-bottom: 15px;
                }
                .contactus .message{
                    height: 100px;
                }
          }
          @media  (min-width:991.98px)and (max-width: 1199.98px) { 
            .contactus{
                background-color: black;
                background-image: none;
                }
                .contactus .input{
                    width: 50%;
                    margin: auto;
                    margin-bottom: 20px;
                }
                .contactus .message{
                    height: 120px;
                }
          }
        /*end contact us section*/
            /*start footer  section*/  
            .footer{
                text-align: center;
                font-size: 30px;
            }
            .parafooter{
                color: var(--thirdColor);
                font-size: 30px;
                padding-top: 10px;
                padding-bottom: 25px;
            }
             /*Media Query*/
            @media (max-width: 575.98px) { 
                .footer ,.parafooter{
                    font-size: 20px;
                }
            }
            /*end footer  section*/

            
 
              
    